<EditForm Model="QuoteToEdit" class="quote form" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form__group">
        <label class="visually-hidden" for="quote_name">
            Name
        </label>
        <InputText id="quote_name" class="form__input" @bind-Value="QuoteToEdit.Name" />
    </div>

    <a class="btn btn--light" @onclick="OnCancel">Cancel</a>
    <button class="btn btn--secondary" type="submit">@SubmitText</button>
</EditForm>

@code {
    [Parameter]
    public QuoteEditorBlazor.Models.Quote QuoteToEdit { get; set; }

    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public string SubmitText { get; set; }

    private void HandleValidSubmit()
    {
        Console.WriteLine("HandleValidSubmit called!");
        OnSubmit.InvokeAsync();
    }

    private void HandleInvalidSubmit()
    {
        Console.WriteLine("HandleInvalidSubmit called!");
    }
}
