<div class="quote">
  <a href="quotes/@QuoteToShow.ID">@QuoteToShow.Name</a>
  <div class="quote__actions">
    <a class="btn btn--light" href="quotes/@QuoteToShow.ID/delete">Delete</a>
    <a class="btn btn--light" href="quotes/@QuoteToShow.ID/edit">Edit</a>
  </div>
</div>

@code {
    [Parameter]
    public QuoteEditorBlazor.Models.Quote QuoteToShow { get; set; }
}
