@page "/"

<main class="container">
  <h1>Quote editor</h1>
  <p>A blazing fast quote editor built with Hotwire</p>

  <AuthorizeView>
    <Authorized>
      <a class="btn btn--dark" href="/quotes">View quotes</a>
    </Authorized>
    <NotAuthorized>
      <a class="btn btn--dark" href="/login">Sign in</a>
    </NotAuthorized>
  </AuthorizeView>
</main>