@page "/"
@page "/quotes"

@using Microsoft.EntityFrameworkCore

@inject QuoteEditorBlazor.Data.QuoteEditorContext context

<main class="container">
    <div class="header">
        <h1>Quotes</h1>
        <a class="btn btn--primary" href="quotes/new">New quote</a>
    </div>

    <QuoteEditorBlazor.Shared.Quotes.Quotes QuotesToShow="quotes" />
</main>

@code {
    List<QuoteEditorBlazor.Models.Quote> quotes = new List<QuoteEditorBlazor.Models.Quote>();

    protected override async Task OnInitializedAsync()
    {
        quotes = await context.Quotes.ToListAsync();
    }
}