@page "/quotes"
@attribute [Authorize]

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.SignalR.Client
@using QuoteEditorBlazor.Areas.Identity.Claims
@using QuoteEditorBlazor.Hubs
@using QuoteEditorBlazor.Store

@inject QuoteEditorBlazor.Data.QuoteEditorContext context
@inject QuotesHubConnectionBuilder quotesHubConnectionBuilder
@inject FlashStore flashStore

@implements IAsyncDisposable

<main class="container">
    <div class="header">
        <h1>Quotes</h1>
        <a class="btn btn--primary" @onclick="ShowNewQuoteForm">New quote</a>
    </div>

    @if (shouldShowNewQuoteForm)
    {
        <QuoteEditorBlazor.Shared.Quotes.New OnQuoteCreated="OnQuoteCreated" OnCancel="HideNewQuoteForm" />
    }
    else if (!quotes.Any())
    {
        <div class="empty-state">
            <p class="empty-state__text">
                You don't have any quotes yet!
            </p>

            <a class="btn btn--primary" @onclick="ShowNewQuoteForm">Add quote</a>
        </div>
    }

    @foreach (var quote in quotes)
    {
        <QuoteEditorBlazor.Shared.Quotes.Quote
            QuoteToShow="quote"
            OnQuoteUpdated="OnQuoteUpdated"
            OnQuoteDeleted="OnQuoteDeleted"
        />
    }
</main>

@code {
    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }

    private HubConnection? hubConnection;

    List<QuoteEditorBlazor.Models.Quote> quotes = new List<QuoteEditorBlazor.Models.Quote>();

    bool shouldShowNewQuoteForm = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadQuotes();

        hubConnection = quotesHubConnectionBuilder.Build();

        hubConnection.On("QuotesChanged", async () => {
            await LoadQuotes();
        });

        await hubConnection.StartAsync();
    }

    private async Task NotifyQuotesChanged()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("NotifyQuotesChanged");
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    async Task LoadQuotes()
    {
        var authState = await authenticationStateTask;
        if (!authState.User.Identity.IsAuthenticated) return;

        var currentCompanyId = authState.User.GetCompanyID();
        quotes = await context.Quotes
            .Where(q => q.CompanyID == int.Parse(currentCompanyId))
            .OrderBy(q => q.ID)
            .ToListAsync();

        StateHasChanged();
    }

    void ShowNewQuoteForm()
    {
        shouldShowNewQuoteForm = true;
    }

    void HideNewQuoteForm()
    {
        shouldShowNewQuoteForm = false;
    }

    async void OnQuoteCreated()
    {
        flashStore.AddMessage("Quote was successfully created.");

        HideNewQuoteForm();
        await NotifyQuotesChanged();
        await LoadQuotes();
    }

    async void OnQuoteUpdated()
    {
        flashStore.AddMessage("Quote was successfully updated.");

        await NotifyQuotesChanged();
    }

    async void OnQuoteDeleted()
    {
        flashStore.AddMessage("Quote was successfully destroyed.");

        await NotifyQuotesChanged();
        await LoadQuotes();
    }
}
