@page "/quotes/new"

@inject NavigationManager NavigationManager
@inject QuoteEditorBlazor.Data.QuoteEditorContext context

<main class="container">
    <a href="/">&larr; Back to quotes</a>

    <div class="header">
        <h1>New quote</h1>
    </div>

    <QuoteEditorBlazor.Shared.Quotes.Form QuoteToEdit="quote" OnSubmit="CreateQuote" />
</main>

@code {
    QuoteEditorBlazor.Models.Quote quote = new QuoteEditorBlazor.Models.Quote();

    void CreateQuote()
    {
        context.Quotes.Add(quote);
        context.SaveChanges();
        NavigationManager.NavigateTo("/");
    }
}
