@page "/quotes/{quoteId:int}"

@using Microsoft.EntityFrameworkCore

@inject QuoteEditorBlazor.Data.QuoteEditorContext context

<main class="container">
    <a href="/quotes">&larr; Back to quotes</a>
    <div class="header">
        <h1>
            @quote.Name
        </h1>

        <a class="btn btn--primary" @onclick="ShowForm">New date</a>
    </div>

    @if (shouldShowForm)
    {
        <QuoteEditorBlazor.Shared.LineItemDates.New
            QuoteToEdit="quote"
            OnLineItemDateCreated="OnLineItemDateCreated"
            OnCancel="HideForm"
        />
    }

    @if (quote.LineItemDates != null)
    {
        @foreach (var lineItemDate in quote.LineItemDates)
        {
            <QuoteEditorBlazor.Shared.LineItemDates.LineItemDate
                LineItemDateToShow="lineItemDate"
            />
        }
    }
</main>

@code {
    [Parameter]
    public int QuoteId { get; set; }

    QuoteEditorBlazor.Models.Quote quote = new QuoteEditorBlazor.Models.Quote();

    bool shouldShowForm = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadQuote();
    }

    void ShowForm()
    {
        shouldShowForm = true;
    }

    void HideForm()
    {
        shouldShowForm = false;
    }

    async void OnLineItemDateCreated()
    {
        //flashState.AddMessage("Quote was successfully created."); TODO: Flash notices

        HideForm();
        //await NotifyQuotesChanged(); TODO: SignalR
        await LoadQuote();
    }

    async Task LoadQuote()
    {
        quote = await context.Quotes
            .Include(q => q.LineItemDates.OrderBy(lid => lid.Date))
            .FirstAsync(q => q.ID == QuoteId);

        StateHasChanged();
    }
}
