@page "/quotes/{quoteId:int}"

@using Microsoft.EntityFrameworkCore

@inject QuoteEditorBlazor.Data.QuoteEditorContext context

<main class="container">
    <a href="/">&larr; Back to quotes</a>
    <div class="header">
        <h1>
            @quote.Name
        </h1>
    </div>
</main>

@code {
    [Parameter] public int QuoteId { get; set; }

    QuoteEditorBlazor.Models.Quote quote = new QuoteEditorBlazor.Models.Quote();

    protected override async Task OnInitializedAsync()
    {
        quote = await context.Quotes.FirstOrDefaultAsync(q => q.ID == QuoteId);
    }
}
